// Colors

$color-black: #000;
$color-white: #fff;
$color-gray: #707070;
$color-tussock: #c49d48;
$color-black-pearl: #04151f;
$color-catskill-white: #e2eaf0;
$color-lynch: #688095;

// Settings
$font-size: 16px;
$max-width: 1640px;
